$dayWidth: percentage(1 / 7);
$px: 0.0625rem;

//:host {
//  margin-right: 20 * $px;
//}

@keyframes slidein {
  100% {
    display: block;
    left: 0;
  }
}

.calendarItem {
  width: $dayWidth;

  &--selectable:hover {
    background-color: rgb(22, 107, 179);
    color: #fff;
    cursor: pointer;
  }

  &__Label {
    font-size: 13 * $px;
    font-weight: 300;
    height: 37 * $px;
    line-height: 2.7;
    text-align: center;
  }
}

.calendarRow {
  display: flex;
}

.monthDays__Header {
  .calendarItem__Label {
    font-weight: bold;
  }
}

.monthRow {
  display: flex;
}

.month {
  display: block;
  visibility: visible;
  min-width: 300 * $px;
  width: 90%;
}

.month--isHidden {
  display: none;
}

.month__Title {
  text-align: center;
}
