$dayWidth: percentage($number: 1 / 7);
$px: 0.0625rem;

.calendarItem {
  width: $dayWidth;

  &--selectable:hover {
    background-color: rgb(22, 107, 179);
    color: #fff;
    cursor: pointer;
  }

  &__Label {
    font-size: 13 * $px;
    font-weight: 300;
    height: 37 * $px;
    line-height: 2.7;
    text-align: center;
  }
}

.calendarRow {
  display: flex;
}

.engee-datepicker {
  box-sizing: border-box;
  font-family: "HelveticaNeue-Medium",Helvetica,Arial,sans-serif;
  font-size: 14 * $px;
}

.month {
  width: 25%;
}

.month__Title {
  text-align: center;
}
