<div class="engee-datepicker" [ngStyle]="{ width: width }">
  <div class="paginationRow">
    <div class="paginationPrev" (click)="handlePaginate('PREV')"><<</div>
    <div class="paginationNext" (click)="handlePaginate('NEXT')">>></div>
  </div>
  <div
    [appEngeeTransition]="getPaginationAction()"
    [ngClass]="{
      transitionWrapper: true,
      'transitionWrapper--foo': isPaginatingNext || isPaginatingPrev
    }"
    #transitionWrapper
  >
    <div class="monthRow">
      <ng-container *ngFor="let month of months; let i = index">
        <app-month [month]="month" [active]="isActive(i)"></app-month>
      </ng-container>
    </div>
  </div>
</div>
