$px: 0.0625rem;

@keyframes slideInFromRight {
  0% {
    transform: translate(300px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translate(-300px);
  }
  100% {
    transform: translate(0px);
  }
}

.engee-datepicker {
  box-sizing: border-box;
  font-family: 'HelveticaNeue-Medium', Helvetica, Arial, sans-serif;
  font-size: 14 * $px;
}

.paginationRow {
  display: flex;
  justify-content: space-between;
  // TODO - Reenable later
  // position: relative;
  // top: 14px;
}

.paginationPrev {
  margin-left: 12 * $px;
  &:hover {
    cursor: pointer;
  }
}

.paginationNext {
  margin-right: 10 * $px;
  &:hover {
    cursor: pointer;
  }
}

.monthRow {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}

.transitionWrapper {
  &--foo {
    display: none;
  }

  &--next {
    animation: slideInFromRight 2s ease;
    // display: block;
  }
  &--prev {
    animation: slideInFromLeft 1s ease;
    // display: block;
  }
}
